{% extends "base.html" %}
{% block title %}添加minion节点-OpsMaster自动化运维平台{% endblock %}
{% block nav %}
<!--    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li> -->
    <li><a href="{% url 'asset_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li class="active"><a href="{% url 'deploy' %}"><i class="glyphicon glyphicon-th-large"></i> 安装部署<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'node_topology' %}"><i class="glyphicon glyphicon-book"></i> 云平台节点</a></li>
<!--    <li><a href="{% url 'repair_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li> -->
    <li><a href="{% url 'keys_show' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li><a href="{% url 'record_list' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
{% endblock %}
{% block content %}
    <h5 class="page-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'index_minion' %}">添加minion节点</a></li>
            <li><a href="{% url 'openstack_deploy' %}">OpenStack部署</a></li>
            <li class="active">OpenStack扩容</li>
            <li><a href="{% url 'deploy' %}">模块部署</a></li>
            <li><a href="{% url 'update' %}">配置更新</a></li>
            <li><a href="{% url 'routine' %}">日常维护</a></li>
            <li><a href="{% url 'execute' %}">远程操作</a></li>
        </ol>
    </h5>
   
<table align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
    <td> 
<!-- Tabs -->
        <div id="wizard" class="swMain">
            <ul>
                <li><a href="#step-1">
                <label class="stepNumber">1</label>
                <span class="stepDesc">
                   <small>计算节点扩容</small>
                </span>
            </a></li>
                <li><a href="#step-2">
                <label class="stepNumber">2</label>
                <span class="stepDesc">
                   <small>存储节点扩容</small>
                </span>
            </a></li>
                <li><a href="#step-3">
                <label class="stepNumber">3</label>
                <span class="stepDesc">
                   <small>zabbix节点扩容</small>
                </span>                   
             </a></li>
                <li><a href="#step-4">
                <label class="stepNumber">4</label>
                <span class="stepDesc">
                   <small>elk节点扩容</small>
                </span>                   
            </a></li>
            </ul>
            <div id="step-1">   
            <h2 class="StepTitle">计算扩容</h2>
              <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">虚拟机后端</label>
                        <div class="col-sm-10">
                            <input type="radio" class="nova_stroage_local_check" name="nova_storage" value="file">&nbsp;&nbsp;local
                        </div>
                        <div class="col-sm-10">
                            <input type="radio" class="nova_stroage_ceph_check" name="nova_storage" value="ceph" checked>&nbsp;&nbsp;ceph
                        </div>
                </div>

                <div class="form-group" style="margin-top: 70px">
                            <label class="col-sm-2 control-label">compute节点</label>
                            <div class="col-sm-10" >
                                {% if compute_minions_list %}
                                    {% for minion in compute_minions_list %}
                                        <label class="col-sm-10 checkbox" style="margin: auto;margin-bottom: 5px">
                                            <input name='compute_minions' type="checkbox" value="{{ minion }}">
                                            {{ minion }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                 </div>
            </div>
            
            <div id="step-2">
            <h2 class="StepTitle">存储扩容</h2>   
            
            <div class="form-group" style="margin-top: 10px">
                    <label class="col-sm-2 control-label">启用分布式存储</label>
                    <input name='enable_distri_storage' type="checkbox" data-toggle="collapse" data-target="#storage_back">
                </div>
                 
                <div id="storage_back" class="collapse">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">存储后端</label>
                        <div class="col-sm-10">
                            <input type="radio" class="stroage_ceph_check" name="storage" value="ceph" checked>&nbsp;&nbsp;ceph
                        </div>
                        <div class="col-sm-10">
                            <input type="radio" class="storage_glusterfs_check" name="storage" value="glusterfs" disabled>&nbsp;&nbsp;glusterfs
                        </div>
                    </div>

                     <div id="storage_ceph_osd" class="form-group" style="display: ''">
                            <label class="col-sm-2 control-label" style="margin-top: 20px">ceph osd节点</label>
                            <div class="col-sm-10" style="margin-top: 10px">
                                {% if ceph_osd_minions_list %}
                                    {% for minion in ceph_osd_minions_list %}
                                        <label class="col-sm-10 checkbox">
                                            <input name="ceph_osd_minions" type="checkbox" value="{{ minion }}" data-toggle="collapse" data-target="#{{minion}}">
                                            {{ minion }}
                                        </label>
                                        <label id="{{minion}}" class="collapse col-sm-10 checkbox">
                                        {% for osd_minion, osd_dev in osd_devices.iteritems %}
                                            {% if minion == osd_minion %}
                                                {% for dev in osd_dev %}
                                                {% load split_filter %}
                                                <span class="checkbox" style="margin-left: 30px"><input style="margin-top: 7px;" name="{{ osd_minion }}_osds" type="checkbox" value="{{ dev }}">{{ dev }}
                                                &nbsp;&nbsp;&nbsp;journal日志分区:&nbsp; <input name="{{ osd_minion }}_journal_{{ dev|split:'deli=/&site=2' }}" type="text" style="width:23%;"/>
                                                </span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                     </div>
 
                     <div id="storage_glusterfs" class="form-group" style="display: none">
                            <label class="col-sm-2 control-label">glusterfs brick节点</label>
                            <div class="col-sm-10">
                                {% if minions_list %}
                                    {% for minion in minions_list %}
                                        <label class="col-sm-10 checkbox">
                                            <input name='glusterfs_minions' type="checkbox" value="{{ minion }}">
                                            {{ minion }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                     </div>
                 </div>
            
            </div> 
                             
            <div id="step-3">
            <h2 class="StepTitle">zabbix节点扩容</h2>   
            <div class="form-group" style="margin-top: 10px">
                    <label class="col-sm-2 control-label">启用监控</label>
                    <input name='enable_monitor' type="checkbox" data-toggle="collapse" data-target="#enable_monitor">
              </div>
              
              <div id="enable_monitor" class="collapse">
                    
                    <div id="monitor_zabbix_agent" class="form-group" style="display: ''">
                            <div><label class="col-sm-2 control-label">zabbix agent节点</label></div>
                            <div class="col-sm-10" style="margin-top: -10px">
                                {% if zabbix_agent_minions_list %}
                                    {% for minion in zabbix_agent_minions_list %}
                                        <label class="col-sm-10 checkbox">
                                            <input name='zabbix_agent_minions' type="checkbox" value="{{ minion }}">
                                            {{ minion }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                     </div>
              </div>                                       
            </div>
            
            <div id="step-4">
            <h2 class="StepTitle">elk节点扩容</h2>   
                             
            <div class="form-group" style="margin-top: 10px">
                    <label class="col-sm-2 control-label">启用ELK</label>
                    <input name='enable_elk' type="checkbox" data-toggle="collapse" data-target="#enable_elk">
              </div>
              
              <div id="enable_elk" class="collapse">
                
                    <div id="elk_agent" class="form-group" style="display: ''">
                            <div><label class="col-sm-2 control-label">elk agent节点</label></div>
                            <div class="col-sm-10" style="margin-top: -10px">
                                {% if elk_agent_minions_list %}
                                    {% for minion in elk_agent_minions_list %}
                                        <label class="col-sm-10 checkbox">
                                            <input name='elk_agent_minions' type="checkbox" value="{{ minion }}">
                                            {{ minion }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                     </div>
                </div>
            </div>
        </div>

<!-- End SmartWizard Content -->        
        
    </td>
  </tr>
  
   <tr>
    <td>
        <div class="form-group">
                 <div class="col-sm-offset-9 btn-group" role="group" aria-label="Basic example" style="margin-top: 2%">
                    <button type="button" class="btn btn-primary" onclick="addOpenStack()" id="deployos">开始扩容</button>
                    <button type="button" class="btn btn-primary" onclick="checkInsPro()" id="chkpro">查看扩容log</button>
                 </div>
        </div>
        </td>
    </tr>
</table>  

   
   <br/>
   <div class="col-sm-10 col-sm-offset-1">
                <div class='bg-primary'>
                    <h4 id="info"></h4>
                </div>
                <div>
                    <p id="result"></p>
                </div>
   </div>  
   
<script type="text/javascript" src="/static/otherjs/jquery.smartWizard.js"></script>
<link href="/static/theme/smart_wizard_vertical.css" rel="stylesheet" type="text/css">   
<script type="text/javascript">
    $(document).ready(function(){
        // Smart Wizard 
        $('#wizard').smartWizard({transitionEffect:'slide'});
     
        });
</script>

{% endblock %}

